 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "{{site.url}}js/jquery-1.11.0.js" | absolute_url}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "{{site.url}}js/bootstrap.min.js" | absolute_url}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "{{site.url}}js/jquery.easing.min.js" | absolute_url}}"></script>
    <script src="{{ "{{site.url}}js/classie.js" | absolute_url}}"></script>
    <script src="{{ "{{site.url}}js/cbpAnimatedHeader.js" | absolute_url}}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "{{site.url}}js/jqBootstrapValidation.js" | absolute_url}}"></script>
    {% if site.contact == "static" %}
    <script src="{{ "{{site.url}}js/contact_me_static.js" | absolute_url}}"></script>
    {% else %}
     <script src="{{ "{{site.url}}js/contact_me.js" | absolute_url}}"></script>
    {% endif %}

    <!-- Custom Theme JavaScript -->
    <script src="{{ "{{site.url}}js/freelancer.js" | absolute_url}}"></script>

    {% if site.contact == "disqus" %}
    <!-- Disqus Stuff -->
    {% include js_disqus.html %}
    {% endif %}
